@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-thin-font {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* share style starts */
:root {
  --font-16: 1rem;
  --font-14: 0.8rem;
  --font-24: 1.5rem;
  --font-28: 1.75rem;
  --font-52: 3.25rem;
  --font-600: 600;
  --font-700: 700;
}
img {
  width: 100%;
}
.display-flex {
  display: flex;
}
header,
main {
  background-color: rgb(254, 254, 254);
}
header {
  padding: 20px 100px 20px 100px;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  width:200px;
  background-color: rgb(224, 44, 109);
  border: none;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  color: white;
}
/* .font-16-600{
  font-size: 1rem;
  font-weight: 600;
} */
/* shared style ends */

/* header section starts */
/* nav section starts */
.navbar {
  align-items: center;
  justify-content: space-between;
}
.nav-item {
  font-size: var(--font-16);
  font-weight: var(--font-600);
  margin: 0px 10px;
  text-decoration: none;
  color: rgb(58, 58, 58);
}
.start-enjoy {
  align-items: center;
  gap: 6rem;
  margin-bottom: 50px;
}

.Influencer-title {
  font-size: var(--font-52);
  font-weight: var(--font-700);
}
.camera {
  max-width: 400px;
  height: 310px;
  border: 1px dashed gray;
  margin-top: 60px;
  margin-right: 20px;
  background-image: url("../images/Circle\ design.svg");
  background-position: center;
}
.Influencer-driscription {
  max-width: 500px;
  font-size: var(--font-16);
  font-weight: var(--font-600);
}
.btn-round{
  border-radius: 41px;
}
.brand{
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem;

}
.brand-container{
  align-items: center;
  justify-content: center;
}
.brand-container> img{
  width: 6.5rem;
  height: 1.5rem;
  margin: 10px;
}

/* nav section ends */
/* header section ends */

/* main section starts here */
.popular-collection{
  max-width: 800px;
  padding: 50px 120px;
  margin: 0 auto;
}
.collection-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.collection-card{
  max-width: 280px;
  height: 25rem;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  line-height: 20px;
}
.collection-heading{
  font-size: 20px;
font-weight: 500;
}
.collection-details,.collection-rating{
  font-weight: 600;
font-size:12px ;
color: rgb(120, 120, 133);

}
/* main section ends here */

@media screen and (max-width: 576px) {
  header{
    padding: 0px;
  }
  .start-enjoy{
    flex-direction: column;
  }
  .brand-container {
    flex-wrap: wrap;
  }
  .nav-item,.camera {
    display: block;
  }
  .navbar{
    display: none;
  }
  .popular-collection{
    padding: 0px 10px;
  }
  .collection-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  } 
 .Influencer-container{
  text-align: center;
 }
 .camera{
  border-radius:50% ;
 }
 
  
}
